/* Acá va tu código */
*{
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  } 
 body{
   background: url(img/numeros.png);
 }
 h1{
  color: rgb(5, 5, 65);
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
 }
 h2 {
   color: rgb(5, 5, 65);
   font-size: 40px;
   text-align: center;}
 p {
  color:  rgb(5, 5, 65);
  font-size: 30px;
  text-align: center;
  }
#offset{
  border: black 1.5px solid;
  margin: 5px;
  font-size: 20px;
}
 .comentarios{
   background:white;
   border: black 1.5px solid;
   margin: 5px;
   font-size: 20px;
 }
 .boton{
   background: #829fa3;
   border: black 1px solid;
   font-size: 20px;
 }
 ::placeholder{
  font-size: 20px;

 }